:root {
  --color-primary: #fab641;
  --color-secondary: #0d294d;
  --color-background-light: #ffffff;
  --color-background-dark: #edeef1;
  --color-text-light: #ffffff;
  --color-text-dark: #231f2058;
  --color-text-alt: #cbccce;
  --color-text-primary: #9b9b9b;
  --color-text-mid: #898a8c;
  --color-green: #5db975;
  --color-red: #fa7066;
  --color-red-dark: #d92d20;
  --color-black: #000;
  --color-gray-light: #d1d3d5;
  --color-gray-100: #babbbe;
  --color-gray-200: #636466;
  --color-gray-300: #36373a;
  --color-gray-400: #797a7c;
  --color-gray-500: #667085;
  --color-gray-600: #636466;
  --color-gray-800: #36373a;
  --border-radius-container: 5px;
  --border-radius-input: 3rem;
}

[data-theme=dark] {
  --color-primary: #FAB641;
  --color-secondary: #0D294D;
  --color-background-light: #FFFFFF;
  --color-background-dark: #EDEEF1;
  --color-text-light: #FFFFFF;
  --color-text-dark: #231F20;
  --color-text-alt: #cbccce;
  --color-text-primary: #9b9b9b;
  --color-green: #5DB975;
  --color-red: #FA7066;
  --color-black: #000;
}

img {
  pointer-events: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  backface-visibility: hidden;
}

input,
select {
  outline: none;
  border: 1px solid currentColor;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 2em 0;
  border: none;
  background-color: transparent;
}
.back b {
  font-size: 15px;
  font-weight: 500;
}

.heading {
  font-size: 16.5px;
  font-weight: 500;
  margin: 2em 0;
}
.heading p {
  font-size: 12.5px;
  color: var(--color-gray-200);
  margin-top: 0.8em;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.8em;
}

.flex-2 {
  display: flex;
  gap: 1em;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

#accordion {
  width: 100%;
}
#accordion .accordion {
  width: 100%;
  margin: 2em 0;
}
#accordion .accordion-heading {
  cursor: pointer;
  padding: 1.5em;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  background-color: var(--color-gray-150);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 1000px) {
  #accordion .accordion-heading span {
    font-weight: 500;
  }
}
#accordion .accordion-indicator {
  display: block;
  text-align: center;
  align-self: center;
  color: rgb(136, 136, 136);
  border-radius: 100%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#accordion .accordion-body {
  font-size: 16px;
  font-weight: 400;
  padding: 1.5em;
}

#mtk-form .input-error {
  color: red !important;
  font-weight: 300;
  width: 100%;
  word-wrap: break-word;
  line-height: 1.6rem;
  text-align: left;
  margin-top: 3px;
}
#mtk-form .select .input-error {
  bottom: -25%;
}
#mtk-form input.invalid {
  border: 1px solid red !important;
}

.input-label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin: 0.7em 0;
  text-align: left;
}
.input-label.disabled {
  color: var(--color-gray-100) !important;
}

.input-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--color-gray-light);
  border-radius: 0.9rem;
  padding: 0.9rem;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}
.input-field:disabled {
  color: var(--color-gray-100) !important;
}
.input-field--required {
  color: var(--color-red-dark);
}
.input-field--optional {
  color: var(--color-gray-100);
  font-weight: 400;
}
@media (max-width: 60.25em) {
  .input-field {
    font-size: 1.6rem;
  }
}
.input-field::-moz-placeholder {
  color: var(--color-gray-100);
}
.input-field::placeholder {
  color: var(--color-gray-100);
}

.input-group {
  display: block;
  margin: 1rem 0;
}
.input-group .input {
  position: relative;
}
.input-group .input button {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 3%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.input-group .input .otp-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.input-group .input .otp-input .input-error, .input-group .input .otp-input .input-warning {
  display: none !important;
}
.input-group .input .otp-input-field {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}
.input-group .input .otp-input-field:focus {
  border-color: #007bff;
}

.input-warning {
  display: block;
  color: var(--color-red-dark);
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  position: relative;
  word-wrap: break-word;
  line-height: 1.6rem;
  text-align: left;
}

textarea {
  padding: 1rem 1.4rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 13px;
  border: 1px solid var(--color-gray-light);
  color: var(--color-gray-400);
  resize: none;
}

.modal {
  animation: OpenPopup 0.3s ease-out 1;
  background-color: var(--color-background-light);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 90vh;
  padding: 3rem;
  display: block;
  position: relative;
  gap: 2rem;
  border-radius: 0.8rem;
  z-index: 1;
  text-align: center;
  overflow-y: auto;
}
@media (max-width: 37.5em) {
  .modal {
    max-width: 95%;
  }
}
.modal svg {
  margin-bottom: 2em;
}
.modal::-webkit-scrollbar {
  width: 10px;
}
.modal-box {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  display: grid;
  place-items: center;
}
.modal-head h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  text-align: center;
  color: var(--color-secondary);
}
.modal-head span {
  display: block;
  color: var(--color-text-mid);
  margin-bottom: 1rem;
  font-size: 1rem;
  white-space: wrap;
}
@media (max-width: 37.5em) {
  .modal-head span {
    white-space: normal;
  }
}
.modal-content {
  border: none;
  color: #000000;
}
.modal-content .controls {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 1em;
  white-space: wrap;
}
.modal .cancel-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  top: 0%;
  right: 0%;
  color: gray;
  font-weight: 300;
  outline: 0px;
}

.pill {
  position: relative;
  padding: 0.5em 0.8em;
  display: inline-block;
  border-radius: 20px;
  font-size: 11.3px;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-color: #EDEEF1;
  color: #36373A;
  font-weight: 500;
  text-transform: capitalize;
}
.pill.danger {
  background-color: #FEE4E2 !important;
  color: #B42318 !important;
}
.pill.secondary {
  background-color: #F3F4F6 !important;
  color: #4B5563 !important;
}
.pill.info {
  background-color: #E0F2FE !important;
  color: #075985 !important;
}
.pill.warning {
  background-color: #FEF3C7 !important;
  color: #92400E !important;
}
.pill.success {
  color: #1F6532 !important;
  background-color: #ECFDF3 !important;
}
.pill.pending {
  background-color: #FFF1F0 !important;
  color: #912018 !important;
}
.pill.primary {
  background-color: #0D294D !important;
  color: white !important;
}

#select .select {
  cursor: pointer;
  box-sizing: border-box;
}
#select .select-input_label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  margin: 0.7em 0;
  text-align: left;
}
#select .select-input_label.disabled {
  color: var(--color-gray-100) !important;
}
#select .select-input_field {
  display: flex;
  align-items: center;
  width: 100%;
}
#select .select-input_field input {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: block;
  border: 1px solid var(--color-gray-light);
  border-radius: 0.9rem;
  padding: 0.9rem;
  font-size: 16px;
  color: black;
}
#select .select-input_field input:disabled {
  color: var(--color-gray-100) !important;
}
#select .select-input_field span {
  color: var(--color-gray-300);
  position: absolute;
  right: 5%;
}
#select .select-list {
  width: 100%;
  position: absolute;
  z-index: 3;
  height: auto;
  max-height: 20rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-background-200);
  border-radius: 0.65rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 1rem rgba(128, 128, 128, 0.1);
  animation: Fade-in 0.2s ease-in-out;
  overflow-y: auto;
  box-sizing: border-box;
  color: black;
}
#select .select-list_con {
  position: relative;
}
#select .select-list::-webkit-scrollbar {
  width: 4px;
  background-color: grey;
}
#select .select-list::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: black;
}
#select .select-list option, #select .select-list_item {
  padding: 0.6rem;
  display: block;
  width: 100%;
  position: relative;
  font-size: 0.8rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-weight: 400;
  background-color: white;
}
#select .select-list option:hover, #select .select-list_item:hover {
  background-color: #e5e1eb;
}

#tab .tab-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.1em;
  margin-bottom: 1em;
}
#tab .tab-heading div:first-child {
  border-radius: 20px 0 0 20px;
}
#tab .tab-heading div:last-child {
  border-radius: 0 20px 20px 0px;
}
#tab .tab-heading .tab-item {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary);
  padding: 1em 2em;
  text-align: center;
}
@media (max-width: 500px) {
  #tab .tab-heading .tab-item {
    font-size: 10px;
  }
}
#tab .tab-heading .tab-item.active {
  color: white;
  background-color: var(--color-secondary);
}

#table {
  width: 100%;
  overflow: auto;
}
#table table {
  width: 100%;
  position: relative;
  padding: 0 1.5em;
  border-spacing: 0;
  background-color: white;
  color: #171717;
  border-radius: 5px;
  overflow-x: auto;
  font-size: var(--text-sm);
}
@media (max-width: 1000px) {
  #table table {
    min-width: 150rem;
    font-size: var(--text-sm);
  }
}
@media (max-width: 500px) {
  #table table {
    min-width: 100rem;
    font-size: var(--text-sm);
  }
}
#table table td,
#table table th {
  text-align: left;
  background-color: white;
  padding: 2em 1em;
  border-spacing: 0;
  font-weight: 300;
}
#table table th {
  border-bottom: 1px solid rgba(153, 153, 153, 0.2705882353);
  font-weight: 500;
}
#table .table-search {
  float: right;
}
#table .table-search input {
  background-color: rgb(255, 255, 255);
  color: #171717;
  min-width: 300px;
  padding: 1em;
  border: none;
  border-radius: 5px;
  margin: 1em 0;
  box-shadow: 1px 1px 10px 1px rgba(204, 204, 204, 0.424);
}
#table .table-pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 3em 1.5em;
}
#table .table-pagination button {
  padding: 0.8em;
  border: none;
  border-radius: 3px;
}
#table .table-pagination button.active {
  background-color: black;
  color: whitesmoke;
}
#table.stripped table {
  background-color: transparent;
  border-spacing: 0em 1.5em;
}
#table.stripped table thead tr,
#table.stripped table tbody tr {
  background-color: transparent !important;
}
#table.stripped table thead tr th,
#table.stripped table tbody tr th {
  background-color: transparent !important;
  padding: 1em;
}
#table.stripped table thead tr td,
#table.stripped table tbody tr td {
  padding: 1em;
}
#table.stripped table thead tr td .btn,
#table.stripped table tbody tr td .btn {
  padding: 0;
  height: 30px;
  width: 50px;
  font-size: var(--text-xs);
}

.toggle {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 40px;
  height: 20px;
  border-radius: 30px;
  border: 0px;
  background-color: var(--color-text-primary);
  position: relative;
}
.toggle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: white;
}
.toggle:checked {
  background-color: var(--color-secondary);
}
.toggle:checked:before {
  transform: translate(100%);
}
@media (max-width: 700px) {
  .toggle {
    width: 40px;
    height: 20px;
  }
  .toggle::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=index.css.map */