.heading {
    &-sec {
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            margin-bottom: 2.1rem;
            font-size: 2rem;
        }
    }

    &-ter {
        font-size: 1.5rem;
        font-weight: 500;

        @include respond(tab-port) {
            margin-bottom: 3rem;
            font-size: 1.8rem;
        }
    }
}

.dark {
    color: var(--color-black) !important;
}


h5 {
    font-size: 1.2rem;

    @include respond(tab-port) {
        font-size: 1.4rem;
    }
}