@import './_mixins.scss';


:root {
  --color-primary: #fab641;
  --color-secondary: #0d294d;
  --color-background-light: #ffffff;
  --color-background-dark: #edeef1;
  --color-text-light: #ffffff;
  --color-text-dark: #231f2058;
  --color-text-alt: #cbccce;
  --color-text-primary: #9b9b9b;
  --color-text-mid: #898a8c;
  --color-green: #5db975;
  --color-red: #fa7066;
  --color-red-dark: #d92d20;
  --color-black: #000;
  --color-gray-light: #d1d3d5;
  --color-gray-100: #babbbe;
  --color-gray-200: #636466;
  --color-gray-300: #36373a;
  --color-gray-400: #797a7c;
  --color-gray-500: #667085;
  --color-gray-600: #636466;
  --color-gray-800: #36373a;
  // border raadius
  --border-radius-container: 5px;
  --border-radius-input: 3rem;
}

[data-theme=dark] {
  --color-primary: #FAB641;
  --color-secondary: #0D294D;
  --color-background-light: #FFFFFF;
  --color-background-dark: #EDEEF1;
  --color-text-light: #FFFFFF;
  --color-text-dark: #231F20;
  --color-text-alt: #cbccce;
  --color-text-primary: #9b9b9b;
  --color-green: #5DB975;
  --color-red: #FA7066;
  --color-black: #000;
}



img {
  pointer-events: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  backface-visibility: hidden;
}

input,
select {
  outline: none;
  border: 1px solid currentColor;
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 2em 0;
  border: none;
  background-color: transparent;

  & b {
    font-size: 15px;
    font-weight: 500;
  }
}

.heading {
  font-size: 16.5px;
  font-weight: 500;
  margin: 2em 0;

  & p {
    font-size: 12.5px;
    color: var(--color-gray-200);
    margin-top: 0.8em;
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.8em;
}

.flex-2 {
  display: flex;
  gap: 1em;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@import '../components/accordion/index.scss';
@import '../components/form/index.scss';
@import '../components/input/index.scss';
@import '../components/modal/index.scss';
@import '../components/pill/index.scss';
@import '../components/select/index.scss';
@import '../components/tab/index.scss';
@import '../components/table/index.scss';
@import '../components/toggle/index.scss';