.alert{
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 300px;
   max-width: 500px;
   padding: 1em;
   border-radius: 10px;
   text-align: center;
   color: white; 
   font-weight: 600;


   &.info{
      background-color: #37a8e9;
   }

   &.danger{
      background-color: #e93737;
   }

   &.warning{
      background-color: #e9b437;
   }

   &.success{
      background-color: #03ab44;
   }

}