.code-block {
   margin: 2em 0;
   padding: 1.5em;
   border-radius: 10px;
   background-color: #000;
   color: white;

   & pre{
      margin: 0;
      color: white;
   }

   & .copy{
      float: right;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
   }
 }