#select {
   & .select {
      cursor: pointer;

      &-input {
         &_label {
            position: absolute;
            top: 15%;
            font-size: 11px;
            color: var(--color-gray-300);
            padding: 0 1.2em 0 1.2em;
         }

         &_field {
            display: flex;
            align-items: center;
            width: 100%;

            & input {
               display: block;
               height: 53px;
               width: 100%;
               background-color: var(--color-gray-200);
               border: none;
               border-radius: 5px;
               padding: 2.5em 1.2em 0.5em 1.2em;
               font-weight: 600;
               font-size: 11.6px;

               @media (min-width:900px) {
                  height: 60px;
                  padding: 2.5em 1.2em 0.5em 1.2em;
                  font-weight: 600;
                  font-size: 14px;
               }
            }

            & span {
               color: var(--color-gray-300);
            }
         }
      }

      &-list {
         &_con {
            position: relative;

         }

         width: 95%;
         // margin: 0 auto;
         position: absolute;
         z-index: 3;
         left: 50%;
         transform: translateX(-50%);
         height: auto;
         max-height: 20rem;
         flex-direction: column;
         align-items: flex-start;
         background-color: var(--color-background-200);
         border-radius: .65rem;
         overflow: hidden;
         box-shadow: 0 .4rem 1rem rgba(grey, .1);
         animation: Fade-in .2s ease-in-out;
         overflow-y: scroll;

         &::-webkit-scrollbar {
            width: 4px;
         }

         option,
         &_item {
            padding: 1rem;
            display: block;
            width: 100%;
            position: relative;
            font-size: 1.2rem;
            text-transform: capitalize;
            cursor: pointer;
            transition: .1s ease-in-out;
            font-weight: 400;
            background-color: white;

            &:hover {
               background-color: #FCFAFF;
            }

         }
      }
   }
}