.toggle {
   -webkit-appearance: none;
   outline: none;
   width: 40px;
   height: 20px;
   border-radius: 30px;
  //  box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.155);
  border: 0px;
   background-color: var(--color-text-primary);
   position: relative;
 
   &::before {
     content: "";
     display: block;
     width: 20px;
     height: 20px;
     border-radius: 30px;
     background-color: white;
   }
 
   &:checked {
    background-color: var(--color-secondary);
   }
 
   &:checked:before {
     transform: translate(100%);
   }
 
   @media (max-width:700px) {
     width: 40px;
     height: 20px;
 
     &::before {
       content: "";
       display: block;
       width: 20px;
       height: 20px;
     }
   }
 }