#picker {
   & .picker {
      &-item {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         gap: 2.5em;
         padding: 1em 2em;
         border-radius: 2px;
         margin-bottom: 1em;
      }

      &-active {
         border: 1px solid #4BD34E;
         background-color: #E2F6E7;

         & span{
            color:#4BD34E ;
         }
      }

      &-inactive {
         border: 1px solid #EEF1F4;
         background-color: #EEF1F433;

         & span{
            color:#EEF1F4 ;
         }
      }
   }
}