#accordion {
   width: 100%;

   & .accordion {
      width: 100%;

      margin: 2em 0;

      &-heading {
         cursor: pointer;
         // height: 100%;
         padding: 1.5em;
         border-radius: 10px;
         text-align: left;
         width: 100%;
         background-color: var(--color-gray-150);
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-size: 16px;
         font-weight: 300;

         @media (min-width:1000px) {
            & span{
               font-weight: 500;
            }
         }
      }

      &-indicator {
         display: block;
         text-align: center;
         align-self: center;
         color: var(--color-secondary);
         border-radius: 100%;
         width: fit-content;
         height: fit-content;
         // color: white;
      }

      &-body {
         font-size: 16px;
         font-weight: 400;
         padding: 1.5em;
      }
   }
}